extends layout

block content
  h1= "Project DOMAIN SCAN"
  p Welcome to #{title}
  .container
    .col-md-12
      form(method="post" action="/scan")
        label.form-label(for='basic-url') Enter URL to proceed
          .input-group.mb-3
            span#basic-addon3.input-group-text E.g. https://example.com/
            input#basic-url.form-control(type='text' name='url' aria-describedby='basic-addon3' value=url)
            input.btn.btn-primary(type='submit' value="Submit")

      h3 SCREENSHOT:
      - var imgName = "/images/scan/"+key+".png"
      img(src=imgName)
      br
      br
      h3 ADDRESS : #{address}
      br
      br
      h3 ASN :
      p !{asn}
      if certInfo
        br
        h3 Cert Info:
          p !{certInfo}
      br
      h3 HTML:
        p #{html}
      br
      h3 Natural:
        p #{natural}

